<div id="app-top" tabindex="-1"></div>
@if (showNavbar()) {
	<app-navbar></app-navbar>
}
<main id="main-content" class="focus:outline-none" [class.pb-20]="showNavbar()" tabindex="-1">
	<router-outlet />
</main>
@if (showFooter()) {
	@defer (on viewport) {
		<app-footer></app-footer>
	} @placeholder {
		<div style="min-height: 200px;"></div>
	}
}

@if (showNavbar()) {
  <app-bottom-nav></app-bottom-nav>
}

@defer (on idle) {
	<app-destaque-popup></app-destaque-popup>
}

@defer (on idle) {
	<app-toast-container></app-toast-container>
}

@defer (on idle) {
	<app-install-banner></app-install-banner>
}

@if (loginModalService.isOpen()) {
	@defer (when loginModalService.isOpen()) {
		<app-bride-login-modal [options]="loginModalService.getOptions() || {}" (close)="loginModalService.close($event)"></app-bride-login-modal>
	}
}
